@using ChartJS.Helpers.MVC;
@{
    ViewBag.Title = "Line Boundaries - Area Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

@ViewBag.FillFalse
<hr />
@ViewBag.FillOrigin
<hr />
@ViewBag.FillStart
<hr />
@ViewBag.FillEnd
<hr />
