@using ChartJS.Helpers.MVC;
@{
    ViewBag.Title = "PointStyles - Line Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

@ViewBag.Circle
<hr />
@ViewBag.Cross
<hr />
@ViewBag.CrossRot
<hr />
@ViewBag.Dash
<hr />
@ViewBag.Line
<hr />
@ViewBag.Rect
<hr />
@ViewBag.RectRot
<hr />
@ViewBag.RectRounded
<hr />
@ViewBag.Star
<hr />
@ViewBag.Triangle