@using ChartJS.Helpers.MVC;
@{
    ViewBag.Title = "Stepped Line Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

@ViewBag.NoStepInterpolationChart
<hr />
@ViewBag.StepBeforeInterpolation1Chart
<hr />
@ViewBag.StepBeforeInterpolation2Chart
<hr />
@ViewBag.StepAfterInterpolationChart
<hr />